<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Griffin Calendar!</title>
    <link href="~/css/mystuff.css" rel="stylesheet" />

    <script src="~/js/modal.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://egkoppel.github.io/product-sans/google-fonts.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

    <div class="center">
        <h2>Add New Event:</h2>
    </div>

</body>

</html>